html, body {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}

/*Name, Navigation, Slogan*/

header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  height: 30rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.logo-name {
  display: flex;
}

.logo-name img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.header-bar {
  margin-top: 1rem;
  width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.menu {
  display: none;
  padding-right: 2rem;
}


nav span {
  padding-right: 2rem;
}


.slogan-container {
  display: flex;
  width: 960px;
  justify-content: flex-end;
  margin-right: -2rem;
}

.slogan {
  display: flex;
  background-color: white;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
  margin-top: 10rem;
}

/*Visuals*/

.visuals-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.visual {
  display: flex;
  flex-direction: column;
  height: 8rem;
}

.exams, .fittings, .delivery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}


.exams {
  width: 9.5rem;

}

.exams img {
  width: 3.5rem;
  padding: 0rem 3rem;
}

.fittings img {
  width: 5rem;
  padding: 0rem 3rem;
}

.delivery img {
  width: 5rem;
  padding: 0rem 3rem;
}


/*Other pertinent info*/

.info-container {
  width: 960px;
  display: flex;
}

.info {
  margin-bottom: 5rem;
  display: flex;
  justify-content: flex-end;
}

.heading {
  display: flex;
}

.heading span {
  color: white;
  width: 10rem;
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

.philosophy, .appointments {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.philosophy {
  margin-right: 5%;
}

/*footer*/

.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  width: 960px;
  background-color: azure;
  padding: 4rem;
}

/*Size adjustments for different screen sizes*/


/*tablet, smaller browser window*/
@media only screen and (max-width: 960px){

  header {
    height: 22rem;
    width: 100%;
  }

  .header-bar {
    margin-top: 0px;
    width: 100%;
  }

  .slogan-container {
    width: 100%;
    margin-right: 2rem;
  }

  .slogan {
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
    margin-top: 5rem;
  }

  .info-container {
    width: 100%;
  }

  .info {
    justify-content: center;
  }

  footer {
    width: 100%;
  }

}

/*small browswer window & mobile screen size*/

@media only screen and (max-width: 640px) {
  nav {
    display: none;
  }

  .menu {
    display: flex;
  }

  .logo-name span {
    display: none;
  }

  header {
    height: 17rem;
    background-position: left;
  }

  .slogan-container {
    width: 100%;
    margin: 0px;
    justify-content: center;
  }

  .slogan {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    justify-content: center;
    margin-top: 9rem;
  }

  .visuals-container {
    margin-top: 3.77rem;
    margin-bottom: 3.77rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .exams, .fittings, .delivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.77rem;
  }

  .exams {
    width: 9.5rem;
    margin-bottom: 1.54rem;
  }

  .info {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
  }


  .heading span {
    padding: 0.5rem auto;
    margin-bottom: 1rem;
    font-size: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .philosophy, .appointments {
    width: 100%;
  }

  .philosophy p {
    display: flex;
    justify-content: center;
    font-size: 0.77rem;
    padding-left: 0.25rem;
  }

  .appointments p {
    display: flex;
    justify-content: center;
    font-size: 0.77rem;
    padding-left: 0.25rem;
  }

  .philosophy {
    margin-right: 0;
    margin-bottom: 4rem;
  }


}
